<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629521207385-f2rp33of2g1daephjtoud8shj0s2vudh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629521207385-f2rp33of2g1daephjtoud8shj0s2vudh</string>
	<key>API_KEY</key>
	<string>AIzaSyAypkMuBFZPdJFfy_VVUnbH7p73eQdmwxI</string>
	<key>GCM_SENDER_ID</key>
	<string>629521207385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moemanii.yournotes</string>
	<key>PROJECT_ID</key>
	<string>yournotes-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>yournotes-flutter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629521207385:ios:a626c535e853ad6b82e148</string>
</dict>
</plist>